.topTitle {
    padding-top: 2%;
    padding-left: 10%;
}

.score {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    padding-right: 10%;
    padding-top: 10%;
    font-size: 1.5em;
}

.score p {
    margin: 0;
}

.float {
    float: left;
}

.questionsRow {
    width: 100%;
    padding-top: 3%;
}

.questionsBox {
    width: 50%;
}

.characterImg img {
    float: right;
    margin-right: 10%;
    width: 25%;
    height: 25%;
    border: 5px solid #00AFC7;
}

.questionsParagraph {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.questionsParagraph p {
    width: 60%;
    margin-left: 10%;
}

.questionsButtonOption {
    width: 33%;
    text-align: center;
}

.questionsButtonOption button {
    margin: 0 auto;
    margin-top: 10%;
    display: block;
    font-size: 1.5em;
    color: white;
    padding: 1% 2% 1% 2%;
}

.questionsButton {
    background-color: #00AFC7;
}

.backgroundGreen {
    background-color: green;
}